body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    background-color: rgba(255, 115, 0, 0.192);
}

/* brug selectors */
/* få lavet et grid layout */
/* find et farve tema */